/*------------
global style
------------*/
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*------------
Header
------------*/
header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

header img {
  max-height: 20px;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

nav .nav-links {
  display: flex;
  gap: 30px;
}

nav .nav-links a {
  color: white;
  text-decoration: none;
}

nav .nav-links a:hover {
  text-decoration: underline;
}

/* Styles for the hamburger menu (hidden by default) */
.menu-toggle {
  display: none;
}


/*------------
Footer
------------*/
footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: right;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

footer span {
  display: inline-block;
}


/*------------
common
------------*/
.container {
  max-width: 1250px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.outer-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.border-shadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

/*------------
sections
------------*/
section:nth-child(odd) {
  background-color: #f0f0f0;
}

section:nth-child(even) {
  background-color: #ffffff;
}

.section-title {
  padding: 0 20%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  color: var(--text-black-900);
  text-transform: uppercase;
  margin: 0;
}

.section-title p {
  line-height: 30px;
}

/*------------
service section
------------*/
.service-section {
  padding: 80px 0;
}

.service-section .service-item {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}

.service-section .service-item-inner {
  background-color: white;
  width: 100%;
  padding: 25px;
  border-radius: 15px;
  border-width: thick;
  text-align: left;
  transition: transform 0.3s ease;
}

.service-section .service-item-inner img {
  height: 100px;
  width: auto;
  margin: 0 auto 30px;
}

.service-section .service-item-inner h5 {
  color: #666666;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.service-section .service-item-inner p {
  font-size: 16px;
  line-height: 26px;
}

.service-section .service-item:hover .service-item-inner {
  transform: scale(1.05);
}

/*------------
contact section
------------*/
.contact-section {
  padding: 80px 0 80px;
}

.contact-section .inputBox {
  position: relative;
  width: 100%;
}

.contact-section .inputBox input {
  width: 100%;
  height: 62px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 1px solid transparent;
  margin-bottom: 15px;
  padding: 20px;
}

.contact-section .inputBox input {
  width: 100%;
  height: 62px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 1px solid transparent;
  margin-bottom: 15px;
  padding: 20px;
}

.contact-section .inputBox input:last-child {
  margin-bottom: 0;
}

.contact-section .inputBox input:hover {
  border-color: #0F4AB2;
  border-width: 2px;
}

#message {
  height: 150px;
  /* Set height to 150px for the message input */
}

.contact-section .inputBox label {
  position: absolute;
  display: inline-block;
  font-style: italic;
  pointer-events: none;
  top: 1px;
  left: 1px;
  padding: 20px;
  font-size: 16px;
  transition: 0.5s;
  color: darkgray;
}

.contact-section .inputBox input:focus~label,
.contact-section .inputBox input:valid~label {
  transform: translateY(-30px);
  font-size: 12px;
  font-style: italic;
  text-shadow: -2px -2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF;
}

.contact-section .container-one-third-width {
  display: flex;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}

.contact-section .container-full-width {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.contact-section .btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  gap: 20px;
}

/* Button Styles */
.button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  width: 192px;
  height: 62px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.reset-button {
  border: 2px solid #0050A4;
  color: #0050A4;
  background-color: transparent;
}

.submit-button {
  border: none;
  color: white;
  background-color: #0050A4;
}

.submit-button:disabled {
  background-color: #839ee6;
  cursor: not-allowed;
}